<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать</title>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <p>Выберите действие:</p>
    <ul>
        <li><a href="{% url 'bert_classifier:index' %}">Перейти к задачам классификатора текста</a></li>
        <li><a href="{% url 'dialog_bot:index' %}">Перейти к задачам диалогового бота</a></li>
        <li><a href="{% url 'image_classification:index' %}">Перейти к задачам классификации изображений</a></li>
    </ul>
</body>
</html>